@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../assets/fonts/#{$file_name}.woff") format("woff"), url("../assets/fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import './fonts.scss';

* {
  padding: 0;
  margin: 0;
}

div {
  box-sizing: border-box;
}

a {
  &:hover {
    text-decoration: none;
  }
}

ul {
  list-style: none;
}
